# Copy this to .env and fill in your values

PORT=4000
CLIENT_URL=http://localhost:3000

# Optional: Add your MongoDB Atlas connection string to enable persistence
# MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/kidrove
